body {
    background-image: url("https://educacionadistancia.juntadeandalucia.es/centros/cadiz/pluginfile.php/1281154/assignsubmission_file/submission_files/imagenes/fondoFlamenco.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    background-attachment: fixed;
}

.cabezaAnuncio img{
   
    border-radius: 50%;
    height: 400px;
    width: 400px;
    margin: 10px;

}

.textoHeader {
    width: 20em;
    color: white;
    vertical-align: middle;
    text-align: center;
}

header {
    display: flex;
}

section {
    display: flex;
    flex-direction: row;
    padding: 150px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.Anuncio {
    display: flex;
    border:1px solid red;
    margin: .2em 0 .2em .5em;
    text-decoration: none;
    display: block;
}

.textoAnuncio {
    color: red;
    text-align: center;
    font-weight: bold;
}

.Anuncio:hover{
    background-color: black;
    color: white;
    
}

.Anuncio:hover .textoAnuncio {
    color: white;
    
}